.row{
    display: flex;
}

.col-xs-1{
    flex-basis: calc((100% / 12)* 12);
    max-width: calc((100% / 12)* 12);
}

.col-xs-2{
    flex-basis: calc((100% / 12)* 12);
    max-width: calc((100% / 12)* 12);
}
.col-xs-3{
    flex-basis: calc((100% / 12)* 12);
    max-width: calc((100% / 12)* 12);
}
.col-xs-4{
    flex-basis: calc((100% / 12)* 12);
    max-width: calc((100% / 12)* 12);
}
.col-xs-5{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}