.row{
    display: flex;
}

.col-xs-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-xs-2{
    flex-basis: calc((100% / 12)* 2);
    max-width: calc((100% / 12)* 2);
}
.col-xs-3{
    flex-basis: calc((100% / 12)* 3);
    max-width: calc((100% / 12)* 3);
}
.col-xs-4{
    flex-basis: calc((100% / 12)* 4);
    max-width: calc((100% / 12)* 4);
}
.col-xs-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}