*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    position: relative;
}

.box{
    min-height: 20vh;
    background-color: rgb(241, 182, 192);
    border: 1px solid black;
    text-align: center;
    position: absolute;
}
