*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    min-height: 20vh;
    background-color: rgb(241, 182, 192);
    border: 1px solid black;
    text-align: center;
}

.box-nested{
    background-color: coral;
    border-color: white;
    min-height: 50px;
}